* {
      margin: 0;
      padding: 0;
      outline: none;
      box-sizing: border-box;
    }
    body {
      font-family: sans-serif;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      background:rgb(210, 210, 210);
    }
    .cal-box {
      width: 350px;
      margin: 100px auto;
      background: rgb(0, 0, 0);
      border-radius: 20px;
      box-shadow: 5px 5px 40px rgb(35, 33, 33);
    }
    @media all and (max-width:400px) {
      .cal-box{
        margin: 50px auto;
      }
    }
    
    input[type="text"] {
      height: 60px;
      width: 300px;
      margin-top: 40px;
      border-radius: 1px;
      border: 1px solid #e1e7ea;
      color: black;
      font-size: 22px;
      font-weight: bold;
      text-align: right;
      padding-right: 20px;
      box-shadow: rgba(151, 151, 184, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.027) 0px 18px 36px -18px inset;
      background: linear-gradient(#dae6eb, #e1e9ec);
    }
    form .buttons {
      width: 300px;
      margin: 10px 25px 0 25px;
      padding: 10px 0;
    }
    input[type="button"] {
      width: 58px;
      height: 55px;
      margin: 5px;
      font-size: 22px;
      line-height: 55px;
      border-radius: 3px;
      border: 1px solid #d9d9d960;
      background: linear-gradient(#d9d9d985, #bfbfbf);
    }
    input[type="button"]:hover {
      transition: 3.5s;
      background: linear-gradient(#bfbfbf, #d9d9d9);
    }

    input.equalto {
      background-size: 0 0;
      transition: 0.5s;
      width: 275px;
      margin: 5px 10px 5px 10px;
      font-size: 45px;
      color: black;
      border: 1px solid transparent;
      border-radius: 10px;
      background-color: rgba(207, 238, 31, 0.993);
    }

    input.clear {
      background-size: 0 0;
      color: black;
      background-color: rgba(207, 238, 31, 0.993);
    }

    footer {
      padding: 10px;
      margin:10px;
      margin-top: 50px !important;
      border-radius: 10px;
      border: 1px solid blue;
      box-shadow: 4px 4px 20px rgb(123, 123, 123);
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .social-media .fa {
      font-size: 35px;
      text-decoration: none;
      padding: 2px;
      margin: 10px;
    }
    
    .social-media .fa:hover {
      opacity: 0.7;
    }
    
    .fa-github {
      color: black;
    }
    
    .fa-linkedin {
      color: #2599cf;
    }
    
    .fa-instagram {
      color: rgb(203, 21, 51);
    }
    
    .fa-twitter {
      color: #30a1f7;
    }
    